
.DS_Store
R/.DS_Store
R/Field_2023/.DS_Store
R/Field_2023/trainning/.DS_Store
R/Field_2023/trainning/.RData
R/Field_2023/trainning/.Rhistory
R/Field_2023/trainning/.Rprofile
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/jobs/97BFEBFB-output.json
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/pcs/debug-breakpoints.pper
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/pcs/files-pane.pper
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/pcs/packages-pane.pper
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/pcs/source-pane.pper
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/pcs/windowlayoutstate.pper
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/pcs/workbench-pane.pper
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/rmd-outputs
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/saved_source_markers
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/884F60AD
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/884F60AD-contents
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/A3CA6091
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/A3CA6091-contents
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/B7685C12
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/B7685C12-contents
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/BF06A109
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/BF06A109-contents
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/C408CC6A
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/per/t/C408CC6A-contents
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/prop/703DD8B6
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/prop/A88BCBCB
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/sources/prop/INDEX
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/viewer-cache/42CC3C42.Rdata
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/viewer-cache/C01E3A3E.Rdata
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/viewer-cache/E561CEF7.Rdata
R/Field_2023/trainning/.Rproj.user/BC3F5E4F/viewer-cache/F74B1716.Rdata
R/Field_2023/trainning/.Rproj.user/shared/notebooks/patch-chunk-names
R/Field_2023/trainning/.Rproj.user/shared/notebooks/paths
R/Field_2023/trainning/Bombus pascourum Sitio_Periodo.xlsx
R/Field_2023/trainning/Bombus_pascourum_Sitio_Periodo.xlsx
R/Field_2023/trainning/Period_site_captured_count_2023.csv
R/Field_2023/trainning/renv.lock
R/Field_2023/trainning/renv/.DS_Store
R/Field_2023/trainning/renv/activate.R
R/Field_2023/trainning/renv/settings.json
R/Field_2023/trainning/Shorter_than_18_bombus.csv
R/Field_2023/trainning/Simplified_bombus_information_clean.csv
.Rproj.user
